{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}Turbo - Login{% endblock title %}

{% block content %}
<div class="container-sm mx-auto w-25 pt-5">
  <div class="card mb-3 justify-center">
    <div class="card-body text-center">
      <form class="form-signin justify-center" method="post">
        <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <h6 class="mt-3">No account? <a href="{% url 'signup' %}">Sign Up</a>.</h6>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
      </form>

    </div>
  </div>

{% endblock %}
