{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{book.title}} {% endblock title %}
{% block content %}
<div class="container mt-5">
    <h2>{{ book.title }}</h2>
    <a href="{% url 'unit-create' %}">Add a Unit</a> |
    <a href="{% url 'book-update' pk=book.pk %}">Edit Title</a> |
    <a href="{% url 'book-delete' pk=book.pk %}">Delete Book</a>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        {% for unit in book.unit_set.all %}
        <tr>
          <th scope="row">{{ unit.number }}</th>
          <td><a href="{% url 'unit-detail' unit.pk%}">{{ unit.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content%}
