{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{unit.title}} {% endblock title %}
{% block content %}
<div class="container mt-5">
  <h2>{{ unit.book.title }} - {{ unit.title }}</h2>
    <a href="{% url 'quiz-create' pk=unit.pk %}">Add a Quiz</a> |
    <a href="{% url 'unit-update' pk=unit.pk %}">Edit Title</a> |
  <a href="{% url 'unit-delete' pk=unit.pk %}">Delete Unit</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in unit.quiz_set.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'quiz-detail' pk=quiz.pk %}">{{ quiz.quiz_display_name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content%}
