{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz Detail{% endblock title %}
{% block content %}
  <div class="container justify-content-center">


    <div>
      </div>
      <h2 id="quiz-title">
      </a></h2>
    <div class="container pt-5 mb-5">
      <div id="quiz-root" class="card text-center" style="width: 60rem;">
        <div class="card-body">
      </div>
    </div>


    <a href="{% url 'quiz-list' %}">View All</a><br>
    <a href="{% url 'quiz-update' quiz.pk %}">Update Quiz</a><br>
    <a href="{% url 'quiz-delete' quiz.pk %}">Delete Quiz</a>
  </div>
{% endblock content%}

{% block javascript %}
<<script>
  var quizName = "{{ quiz.quiz_display_name }}"
  {% for question in quiz.choosewordquestion_set.all %}
        var numQuestions = {{forloop.counter}}
        var quizImage_{{ forloop.counter0 }} = "{% static 'images/'%}{{ question.image.image }}"
        var sentenceTextPre_{{ forloop.counter0 }} = "{{question.sentence_text_pre}}"
        var sentenceTextPost_{{ forloop.counter0 }} = "{{question.sentence_text_post}}"
        var correctAnswer_{{ forloop.counter0 }} = "{{question.correct_answer}}"
        var wrongAnswer1_{{ forloop.counter0 }} = "{{question.wrong_answer1}}"
        var wrongAnswer2_{{ forloop.counter0 }} = "{{question.wrong_answer2}}"
        var wrongAnswer3_{{ forloop.counter0 }} = "{{question.wrong_answer3}}"
  {% endfor %}
</script>
<script src="{% static 'js/quiz.js' %}"></script>
{% endblock javascript%}
