{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Classes {% endblock title %}

{% block content %}

<div class="container mt-5">
    <a href="{% url 'class-create' %}">Add a Class</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Class Name</th>
          <th scope="col">Students</th>
          <th scope="col">Date Added</th>
        </tr>
      </thead>
      <tbody>
        {% for class in class_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'class-detail' pk=class.pk %}">{{ class.name }}</a></td>
          <td>{{ class.customuser_set.all.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content%}